.flex
  display flex !important

.flex-center
  display flex !important
  justify-content center !important
  align-items center !important

.flex-around
  display flex !important
  justify-content space-around !important
  align-items center !important

.flex-top
  display flex !important
  justify-content center
  align-items flex-start !important



.flex-main-start
  justify-content flex-start !important

.flex-main-center
  justify-content center !important

.flex-main-end
  justify-content flex-end !important

.flex-main-between
  justify-content space-between !important

.flex-main-around
  justify-content space-around !important



.flex-cross-start
  align-items flex-start !important

.flex-cross-center
  align-items center !important

.flex-cross-end
  align-items flex-end !important

.flex-cross-stretch
  align-items stretch !important

.flex-cross-baseline
  align-items baseline !important



.flex-content-start
  align-content flex-start !important

.flex-content-center
  align-content center !important

.flex-content-end
  align-content flex-end !important

.flex-content-between
  align-content space-between !important

.flex-content-around
  align-content space-around !important

.flex-content-stretch
  align-content stretch !important



.flex-column-reverse
  flex-direction column-reverse !important

.flex-column
  flex-direction column !important

.flex-row-reverse
  flex-direction row-reverse !important

.flex-row
  flex-direction row !important



.flex-no-wrap
  flex-wrap nowrap !important

.flex-wrap
  flex-wrap wrap !important



.flex-item-cross-start
  align-self flex-start !important

.flex-item-cross-center
  align-self center !important

.flex-item-cross-end
  align-self flex-end !important

.flex-item-cross-stretch
  align-self stretch !important

.flex-item-cross-baseline
  align-self baseline !important



.flex-item-order-0
  order 0

.flex-item-order-1
  order 1

.flex-item-order-2
  order 2

.flex-item-order-3
  order 3

.flex-item-order-4
  order 4

.flex-item-order-5
  order 5



.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right



.full-width
  width 100%

.half-width
  width 50%

.third-width
  width 33%

.fourth-width
  width 25%

.fifth-width
  width 20%

.hidden
  display none !important
