*
  position: relative

body
  background #FAFAFA

.mdl-layout__header
  transition 2s background-color ease

//Overwrites
.mdl-card__actions
  padding-bottom 16px !important

.main
  flex: 1 1 auto;

.main h1
  flex: 0 0 auto;
